body {
	background:orange;
	mergin: 0;
	padding: 0;
}
ul {
	list-style:none;
	background:linear-gradient(to right,teal,orange);
	overflow:hidden;
	margin:0;
}
li {
	float: left;
}
li a {
	padding: 15px 16px;
	text-decoration:none;
	font-family:arial;
	display:inline-block;
	color:#fff;
	/* width: 50px; */
}
li a:hover {
	background:orange;
}
li a:focus {
	background:linear-gradient(to right,teal,orange);	
}
ul li:nth-child(5),
ul li:nth-child(6) {
	float:right;
}
div {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../hh.jpg');
	height:100vh;
	background-size:cover;
	background-position:cinter 30%;
	/* margin-top: -21px; */
	color:#fff;
	text-align:center;
	font-family:arial;
	color:yellow;s
}
div h1 {
	padding-top: 170px;
	font-size: 35px;
	letter-spacing: 8px;
}
