table{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    border-collapse: collapse;
    cursor: pointer;
}
th,td{
    padding: 12px;
    border:1px solid;
    color: white;
}
th {
    background: rgb(236, 127, 127);
    color: white;
}
body{
    background: url(../4.jpg);
    background-size: cover;
}