body{
	padding: 0;
	margin: 0;
	background: teal;
}
ul {
	padding: 0%;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
	background: linear-gradient(to right,red,orange);
}
li {
	float: left;
}
li a{
	padding: 20px;
	font-family: arail;
	display: aline-block;
	text-decoration: none;
	font-size:40px;
	color: white;
}
li a:hover{
	background: blue;
}
li a:focus{
	background: orange;
}
.container{
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 10px;
	width: 200%;
	
}